<div>
  <div id="topping" class="container" style="padding-top:10px;">
    <h4 class="text-left">
      Activity Register
    </h4>
  </div>
  <div class="container">
    <hr>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-activity></app-activity>
    </div>
    <div class="col-md-8">
      <app-activity-list></app-activity-list>
    </div>
  </div>
</div>
<div *ngIf = "service.selectedActivityLessons != null"class="container" style="padding-top:10px;">
  <app-activity-details></app-activity-details>
</div>
</div>
